*.iml
.gradle/
.idea/*
!.idea/codeStyles
!.idea/runConfigurations.xml
local.properties
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
google-services.json
graphify-out/
